<!doctype html>
<!-- <title>{% block title %}{% endblock %} - Flaskr</title> -->
<link rel="stylesheet" href="{{ url_for('static', filename='mainpg.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='virtual-select.min.css') }}"> <!--added-->
<script src="{{ url_for('static', filename='virtual-select.js') }}"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<body>
    <div class="full-body-container">
        <div class="top-text">

            <div class="website-title">
                <h1 id = "title">CityFood</h1>
            </div>

            <!-- MULTISELECT DROPDOWN BOX START -->
            <div class="searchAndDisplayContainer">
                <div class="multiSelect">
                    <select id="multipleSelect" multiple name="native-select" placeholder="Choose your cuisines" 
                        data-search="true" data-silent-initial-value-set="true">
                        <option value="1" >Italian</option>
                        <option value="2">Korean</option>
                        <option value="3" >French</option>
                    </select>
                </div>

                <!-- Display Restaurant Results -->
                <!-- <div class="restaurantResults" id="rResults">
                    Recommended Restaurants:
                </div> -->

            </div>
           
            <script type="text/javascript">
                VirtualSelect.init({
                    ele: '#multipleSelect',
                    multiple: true,
                    placeholder: 'Select your cuisine'
                })
            </script>

            <div class="restaurant-item" cuisine="Italian">
                <p>Olive Garden</p>
                <p>Thompson & Bleecker</p>
                <p>Taverna Banfi</p>
                <p>Gola Osteria</p>
                <p>Ciao Wood-Fired Pizza & Pasta</p>
            </div>

            <!-- <div class="restaurant-item" cuisine="Korean">
                <p>Koko</p>
                <p>Four Seasons</p>
                <p>Spoon & Chopsticks</p>
                <p>Woorijip</p>
                <p>LOVE Korean BBQ</p>
            </div> -->

            <script>
                $(document).ready(function() {
                // Get all the restaurant items
                var restaurants = $(".restaurant-item");
            
                // When a cuisine type is selected
                $(".multiSelect").on("change", function() {
                    // Get the selected cuisine type
                    var selectedCuisine = $(this).val();
            
                    // Filter the restaurant items based on the selected cuisine type
                    restaurants.each(function(index, restaurant) {
                    var restaurantCuisine = $(restaurant).data("cuisine");
                    if (selectedCuisine === "" || selectedCuisine === restaurantCuisine) {
                        $(restaurant).show();
                    } else {
                        $(restaurant).hide();
                    }
                    });
                });
                });
            </script>

            <script>
                // function getSelectValues(select) {
                //     var result = [];
                //     var options = select && select.options;
                //     var opt;

                //     for (var i = 0, len = options.length; i < len; i++) {
                //         opt = options[i];

                //         if (opt.selected) {
                //             result.push(opt.value || opt.text);
                //         }
                //     }
                //     return result;
                // }

                // var restaurants = [
                //     { name: "Italian Restaurant 1", cuisine: "Italian" },    
                //     { name: "Italian Restaurant 2", cuisine: "Italian" },    
                //     { name: "Korean Restaurant 1", cuisine: "Korean" },    
                //     { name: "French Restaurant 1", cuisine: "French" },    
                //     { name: "French Restaurant 2", cuisine: "French" },    
                //     { name: "French Restaurant 3", cuisine: "French" }];

                // document.querySelector('#multipleSelect').addEventListener('change', filterRestaurants);

                // function filterRestaurants() {
                //     var selectedValues = getSelectValues(document.querySelector('#multipleSelect'));
                //     var results = document.getElementById("rResults");
                //     if (results) {
                //         results.innerHTML = "";
                //         // Filter the restaurants
                //         var filteredRestaurants = restaurants.filter(function (restaurant) {
                //             return selectedValues.indexOf(restaurant.cuisine) !== -1;
                //             });
                //         // Display the filtered results
                //         filteredRestaurants.forEach(function (restaurant) {
                //             var resultTextNode = document.createTextNode(restaurant.name + " - " + restaurant.cuisine);
                //             var resultElement = document.createElement("div");
                //             resultElement.appendChild(resultTextNode);
                //             results.appendChild(resultElement);
                //         });
                //     }
                //     }

            </script>
            <!-- MULTISELECT DROPDOWN BOX END -->
             
        </div>


        <!-- GOOGLE MAPS START -->
        <div class = "wrap">
            <form action = "" class = "form">
                <input type="text" id = "latitude" placeholder = "latitude">
                <input type="text" id = "longitude" placeholder = "longitude">
            </form>

            <div id="map"></div>

        </div>

        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <!-- GOOGLE MAPS END -->

    </div>

    <script>
        let mapOptions = {
            center:[42.444248, -76.482489],
            zoom: 17
        }

        let map = new L.map('map' , mapOptions);

        let layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
        map.addLayer(layer);


        let marker = null;
        map.on('click', (event)=> {

            if(marker !== null){
                map.removeLayer(marker);
            }

            marker = L.marker([event.latlng.lat , event.latlng.lng]).addTo(map);

            document.getElementById('latitude').value = event.latlng.lat;
            document.getElementById('longitude').value = event.latlng.lng;
        })
    </script>

</body>