<!doctype html>
<!-- <title>{% block title %}{% endblock %} - Flaskr</title> -->
<link rel="stylesheet" href="{{ url_for('static', filename='mainpg.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='virtual-select.min.css') }}"> 
<script src="{{ url_for('static', filename='virtual-select.js') }}"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<body>
    <div class="full-body-container">
        <div class="top-text">

            <div class="website-title">
                <h1 id = "title">CityFood</h1>
            </div>

            <div class="directions">
                <h3>Traveling to a new place and want restaurant recommendations?</h3>
                <p>Give us your three favorite restaurants, destination state and zip code, and we'll give you recommendations based on that!</p>
            </div>

            <form method="post">
                <label for="lname">First Restaurant:</label><br>
                <input type="text" id="first" name="first" required><br>

                <label for="lname">Second Restaurant:</label><br>
                <input type="text" id="second" name="second" required><br>

                <label for="lname">Third Restaurant:</label><br>
                <input type="text" id="third" name="third" required><br>

                <!-- <label for="lname">Target City:</label><br>
                <input type="text" id="city" name="city"><br> -->
                <label for="lname">Target Zip Code:</label><br>
                <input type="text" id="zipcode" name="zipcode" pattern="[0-9]{5}" title="Five digit zip code" required><br>
  
                <label for="state">Target State:</label>
                    <div id="state-dropdown">
                        <select name="state" id="state">
                            <option value="">Select a state</option>
                            <option value="AZ">Arizona</option>
                            <option value="CA">California</option>
                            <option value="FL">Florida</option>
                            <option value="ID">Idaho</option>
                            <option value="IN">Indiana</option>
                            <option value="LA">Louisiana</option>
                            <option value="MO">Montana</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NV">Nevada</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="TN">Tennessee</option>
                        </select>
                    </div>

                <script>
                    function showStates() {
                    var dropdown = document.getElementById("state-dropdown");
                    if (dropdown.style.display === "none") {
                        dropdown.style.display = "block";
                    } else {
                        dropdown.style.display = "none";
                    }
                    }
                </script>


                <p></p>
                <input type="submit"></button>
            </form>

            <!-- <p>BREAK - AUTOCOMPLETE VERSION</p>

            First Restaurant:
            <form autocomplete="off">
                <input type="text" name="q" id="q1" onKeyUp="showResults(this.value, this, 'result1')" />
                <div id="result1"></div>
            </form>

            Second Restaurant:
            <form autocomplete="off">
                <input type="text" name="q" id="q2" onKeyUp="showResults(this.value, this, 'result2')" />
                <div id="result2"></div>
            </form>

            Third Restaurant:
            <form autocomplete="off">
                <input type="text" name="q" id="q3" onKeyUp="showResults(this.value, this, 'result3')" />
                <div id="result3"></div>
            </form>

            Target City:
            <form autocomplete="off">
                <input type="text" name="q" id="q4" onKeyUp="showResults(this.value, this, 'result4')" />
                <div id="result4"></div>
            </form> -->

            <!-- <p></p>
                <input type="submit"> -->

            <!-- <style>
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    /* border: 1px solid black; */
                }
            
                li {
                    padding: 5px;
                    cursor: pointer;
                }
            
                li:hover {
                    background-color: #f2f2f2;
                }
            </style> -->

            <!-- <script>
                var search_terms = ['AZ', 'CA', 'FL', 'ID', 'IN', 'LA', 'MO', 'NJ', 'NV', 'PA', 'TN'];

                function autocompleteMatch(input) {
                    if (input == '') {
                        return [];
                    }
                    var reg = new RegExp(input)
                    return search_terms.filter(function(term) {
                        if (term.match(reg)) {
                            return term;
                        }
                    });
                }

                function showResults(val, input, result_id) {
                    var res = document.getElementById(result_id);
                    res.innerHTML = '';
                    var list = '';
                    var terms = autocompleteMatch(val);
                    for (var i = 0; i < terms.length; i++) {
                        list += '<li>' + terms[i] + '</li>';
                    }
                    res.innerHTML = '<ul>' + list + '</ul>';

                    // Add click event listener to options
                    var options = res.getElementsByTagName('li');
                    for (var j = 0; j < options.length; j++) {
                        options[j].addEventListener('click', function() {
                            input.value = this.textContent;
                            res.innerHTML = '';
                        });
                    }
                }
            </script> -->


            <div id="map" style="height: 400px; width: 100%;"></div>
            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
            <script>
                var map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 12,
                    center: {lat: ${recommended_restaurants[0].latitude}, lng: ${recommended_restaurants[0].longitude}}
                });

                ${recommended_restaurants.map(restaurant => `
                    new google.maps.Marker({
                        position: {lat: ${restaurant.latitude}, lng: ${restaurant.longitude}},
                        map: map,
                        title: "${restaurant.name}"
                    });
                `).join('')}
            </script>
            
             
        </div>


        <!-- GOOGLE MAPS START -->
        <div class = "wrap">
            <form action = "" class = "form">
                <input type="text" id = "latitude" placeholder = "latitude">
                <input type="text" id = "longitude" placeholder = "longitude">
            </form>

            <div id="map"></div>

        </div>

        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <!-- GOOGLE MAPS END -->

        <script>
            let mapOptions = {
                center:[42.444248, -76.482489],
                zoom: 17
            }
    
            let map = new L.map('map' , mapOptions);
    
            let layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
            map.addLayer(layer);
    
    
            let marker = null;
            map.on('click', (event)=> {
    
                if(marker !== null){
                    map.removeLayer(marker);
                }
    
                marker = L.marker([event.latlng.lat , event.latlng.lng]).addTo(map);
    
                document.getElementById('latitude').value = event.latlng.lat;
                document.getElementById('longitude').value = event.latlng.lng;
            })

            
        </script>

    </div>

    

</body>